:root {
    --color1: #1F2133;
    --colorOneTransparent: #1f2133b9;
    --color2: #e0e0e0;
    --color3: #d3d3d3;
    --colorShadow: rgb(75, 74, 74);
    --color4: #e0e0e077;

}

body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

nav {
    display: flex;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--color1);
    background-size: cover;
    padding-top: 25px;
    padding-right: 15px;
    justify-content: flex-end;
    list-style: none;
}

nav li a {
    margin: 10px;
    padding: 12px 22px;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px var(--color1);
    transition: 0.2s box-shadow;
    background-color: var(--color2);
}

nav li a:hover {
    box-shadow: inset 0 0 0 4px var(--color1);
}

nav li a:link, nav li a:visited, nav li a:active {
    text-decoration: none;
    font-size: 18px;
    color: var(--color1);
}

header {
    display: flex;
    font-family: 'Literata', 'Petrona', 'Bree Serif', 'Crimson Pro', serif;
    font-size: 44px;
    background-size: cover;
    color: var(--color1);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -60px;
}

header img {
    width: 100vh;
    
}

.imgBio {
    display: block;
    width: 25vh;
    margin: auto;
    padding-top: 3vh;
    align-items: center;
}

header .bio h1 {
    text-align: center;
    color: var(--color1);
    font-size: 5vh;
}

header .bio {
    background: var(--color4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 3%;
    height: 65vh;
    width: 60%;
    padding: 0px 50px 50px 50px;
}

.intro {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 18%;
    padding-right: 18%;
    text-align: left;
    background-color: var(--color2);
}

h2 {
    color: var(--color1);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

p {
    display: block;
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--color1);
}

.langs {
    display: flex;
    flex-wrap: wrap;
    margin-top: -16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    background-color: var(--color2);
}

.langs .card {    
    display: block;
    width: 330px;
    /* height: 150px; */
    margin: 1px 10px 30px 10px;
    border: 2px var(--color1) solid;
    color: var(--color1);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;    
}

.langs .card h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    display: flex;
    align-items: flex-start;
}

.projects {
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    background-color: var(--color3);
}

.projects2 {
    display: block;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-color: var(--color3);
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 60px;
    margin: 35px;
}

.grid h3 {
    background-color: var(--colorOneTransparent);
    padding: 20px;
    width: 100%;
    margin: -22px 0 0 -20px;
    border-radius: 10px 10px 0 0;
}

.grid .card {
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    border: 2px var(--color1) solid;
    color: var(--color3);
    text-align: left;
    transition: transform 0.2s;
    width: 225px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px var(--color1);
    background: var(--color1);
}

.card a:link, .card a:visited, .card a:active {
    text-decoration: none;
    font-size: 18px;
    color: var(--color3);
}

.grid .card:hover {
    display: block;
    transform: scale(1.25);
    box-shadow: 5px 5px 12px var(--colorShadow);
    background: var(--color1);
}

.resume {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color2);
}

.resume a {
    text-decoration: none;
    color: var(--color1);
    text-align: center;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 30px;
    background-color: var(--color1);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer h3 {
    color: var(--color2);
    font-size: 30px;
}

footer ul {
    display: flex;
}

footer li {
    display: flex;
    list-style: none;
    margin: 10px;
    padding-right: 15px;  
}

@media screen and (max-width: 1470px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 975px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 635px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}